/*Estilos css*/
@font-face {
    font-family: futura;
    src: url(../font/FuturaLight.ttf);
}
@font-face {
    font-family: futuraBk;
    src: url(../font/FuturaExtended.ttf);
}
@font-face {
    font-family: timesNew;
    src: url(../font/timesNew.ttf);
}
@font-face {
    font-family: gillsans;
    src: url(../font/gillsans.ttf);
}
@font-face {
    font-family: arial;
    src: url(../font/arial.ttf);
}
@font-face {
    font-family: century;
    src: url(../font/century.ttf);
}
body
{
	margin:0;
}
.fonts
{
	font-size:30px;
}
a
{
	color: black;
}
table
{
	border: 1px solid #3D3669;
	width: 100%;
	background: #3D3669;
}
th
{
	color: white;
}
td
{
	background: #ffffff;
	color: #3D3669;
}
.fonts_i
{
	display: inline-block;
	font-size: 13x;
}
#contenedor
{
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: auto;
}
#btn_opciones
{
	opacity:0.3;
	display: block;
	background-color: black;
	border: 5px solid gray;
	width: 40px ;
	height: 40px;
	position: fixed;
	top: 1px;
	right: 1px;
	border-radius:50%;
	color: white;
	z-index: 2;
	text-align: center;
	cursor: pointer;
}
#btn_opciones:hover
{
	opacity:1;
}
#span_opciones
{
	font-family: futura;
	cursor: pointer;
	font-size: 30px;
	line-height: -7px;
}
#select_font
{
	width: 100%;
	height: 30px;
	font-family: futura;
}
#menu_botones
{
	background: white;
	border-top-right-radius :0px;
	border: 2px solid gray;
	display: none;
	height: 130px;
	padding: 5px;
	position: fixed;
	right: 90px;
	top: 40px;
	width: 160px;
	z-index: 100;
	border-right: none;
}
#menu_slide
{
	border: 2px solid gray;
	display: none;
	height: 130px;
	padding: 5px;
	position: fixed;
	right: 40px;
	top: 40px;
	width: 39px;
	z-index: 100;
	background:white;
}
#slide
{
	vertical-align: middle;
	position: relative;
	top: 52px;
	left: -60px;
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.menu_contenedor
{
	display: block;
	height: 50px;
	margin:0px auto;
	margin:5px;
	padding: 5px;
	text-align: center;
}
.botones-caja-texto
{
	display: inline-block;
	background: white;
	width: 47%;
	height: 30px;
	border-radius: 5px;
	border: 1px solid gray;
	cursor: pointer;
	font-size: 25px;
	font-family: futura;
}
.botones-caja-texto:hover
{
	background: gray;
	color: white;
}
.botones-caja-lector
{
	opacity: 1;
	display: inline-block;
	background: white;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	border:1px solid gray;
	margin: 0px 5px;
}
#btn_normal
{
	background:#ffffff ;
	border:1px solid gray;
}
#btn_sepia
{
	background:#7F4900 ;
	border:1px solid gray;
}
#btn_noche
{
	background:#000000 ;
	border:1px solid gray;
}
#contenedor-texto
{
	display: block;
	margin:10px auto;
	width: 85%;
	height: auto;
}
#am
{
    position: absolute;
    left: 23px;
    bottom: 3px;
}
#as
{
    position: absolute;
    top: 3px;
    left: 23px;
}